.usersPage {
  padding: 1rem 2rem;
}
.usersPhoto {
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
}

.selectedPage {
  font-weight: bold;
  font-size: larger;
  /* background-color: #002D62; */
  animation-name: ease-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  cursor: pointer;
  padding: 0.2rem;
}

@keyframes ease-out {
  0% {
    background-color: transparent;
    border-radius: 1rem;
    color: black;
    }
  100% {
    background-color: #002D62;
    border-radius: 1rem;
    color: white;
  }
}

.choosePage {
  cursor: pointer;
  padding: 0.3rem;
  text-align: center;
}
/* 
.choosePage:hover {
  color: white;
  background-color: blue;
} */