.my_post {
    padding: 2rem;
    text-transform: uppercase;
}

.textarea {
    margin-top: 0.5rem;
    padding: 1rem;
}

/* .textarea:active {
    padding: 1rem;
} */

.posts img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button {
    border-radius: 2rem;
    padding: 15px;
    background-color: #eee;
    border: none;
    margin: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #041E42;
    color: white;
    transition: 1s;
}

.button:active {
    transform: scale(0.96);

}

