.item_d {
  display: flex;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.profile_img {
  border-radius: 50%;
  max-width: 3rem;
  max-height: 3rem;
  display: inline-flex;
  margin-right: 1rem;
}

.padding {
  padding: 1rem;
}
