.nav {
    grid-area: n;
    background-color: #002D62;
    padding: 2rem;
    /* height: 96vh; */
}

/* .nav a {
    color: black 
} */

.nav a:focus {
    transform: scale(0.95);
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: white;
    text-decoration: underline;
    
}