.nav {
  grid-area: n;
  background-color: #002d62;
  padding: 1rem;
}

.fa {
  padding: 2rem;
}

.nav a:focus {
  transform: scale(0.95);
}

.navItem {
  padding: 1rem;
  /* text-align: center; */
}

.item {
  color: white;
  text-decoration: none;
}

.active {
  color: black;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  text-decoration: none;

  background-color: white;
  border-radius: 0.3rem;

}
