.feed {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 2rem;
  padding: 0.01rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.background {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5898b55020099e1b6fc9d890/1649611291486-WCA8AV69UWCW2ZOM6UBI/unsplash-image-prMn9KINLtI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.2rem;
}

.profileImg {
  padding: 2rem;
  max-width: 8rem;
  max-height: 8rem;
}

.profileDescription {
  width: 100%;
  margin: 2rem;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  float: right;
  align-self: flex-end;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.fullName {
  font-weight: bold;
}

.lookingForAJobDescription {
  font-size: 0.87rem;
}

.states {
  font-style: italic;
  font-size: 0.8rem;
}
