.login {
  width: 84vw;
  background-image: url("https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGJsdWUlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}

.loginField {
  display: block;
  width: 400px;
  padding: 1.5rem;
  margin: 5rem 15rem;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0.8rem;
}

.loginName {
  color: white;
  text-align: center;
  padding: 1rem;
  text-shadow: 5px 5px 5px black;
  font-size: larger;
}

.label {
  padding: 0.5rem;
  color: white;
  text-shadow: 5px 5px 5px black;
}

.input {
  margin: 0.5rem;
  margin-right: 0rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 20px;
  height: 1.5rem;
  width: 90%;
  padding: 0.1rem 0.3rem;
}

.eye {
  cursor: pointer;
  display: inline-block;
  color: black;
  margin-left: -2rem;
  padding: 0.05rem 0.3rem;
}

.eye:active {
  transform: translateY(1.5px);
}

.buttonDiv {
  text-align: center;
}

.button {
  border-radius: 5rem;
  padding: 0.6rem;
  border: none;
  background-color: #002d62;
  color: white;
  margin: 1rem 4rem;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px white;
}

.button:hover {
  animation-name: button;
  animation-duration: 0.5s;
  transition: ease;
  animation-fill-mode: forwards;  
}

.button:active {
  transform: translateY(2px);
}

@keyframes button {
  0% {
    background-color: #002d62;
  }
  100% {
    background-color: #ffa07a;
    color: black;
  }
}
