.login {
  background-image: url("https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGJsdWUlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 91.8vh;
}

.loginField {
  display: block;
  width: 400px;
  padding: 0.5rem;
  margin: 6rem auto;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0.8rem;
}

.loginName {
  color: white;
  text-align: center;
  padding: 0.5rem;
  text-shadow: 5px 5px 5px black;
  font-size: larger;
}

.label {
  padding: 0.5rem;
  color: white;
  text-shadow: 5px 5px 5px black;
}

.input {
  margin: 0.5rem;
  margin-right: 0rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 20px;
  height: 1.5rem;
  width: 90%;
  padding: 0.1rem 0.3rem;
}

.input::placeholder {
  font-size: 18px;
  padding: 1px 0.5rem;
}

.eye {
  cursor: pointer;
  display: inline-block;
  color: black;
  margin-left: -2rem;
  padding: 0.05rem 0.3rem;
}

.eye:active {
  transform: translateY(1.5px);
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.checkbox {
  width: 0;
}

.checkbox_input {
  width: 0.85rem;
  height: 0.85rem;
  border: 2px solid #ccc;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.checkbox_input::after {
  content: "\2714";
  transform: scale(0);
}

.checkbox:checked + .checkbox_input {
  background: #ffa07a;
  color: black;
  border-color: #ffa07a;
}

.checkbox:checked + .checkbox_input::after {
  transform: scale(1);
}

.buttonDiv {
  text-align: center;
}

.already {
  color: black;
  font-size: 14px;
}

.underline {
  text-decoration: underline;
}
