.dialogs {
  display: grid;
  background-color: cornflowerblue;
  background-image: url("https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGJsdWUlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  opacity: 80%;

  grid-template-columns: 2fr 10fr;
  padding: 2rem;
  text-decoration: none;
  height: 100vh;
}

.dialog_items {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  height: fit-content;
}

/* .messages {
} */

.item_m {
  padding: 1rem;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
}
